.top-navigation .navbar-brand {
    background: none;
}

.skin-1 .navbar-static-top {
    background: #3E425B;
}

.top-navigation .navbar .nav > li.active {
    background: none;
}

.top-navigation .nav > li a:focus, .top-navigation .nav > li a:hover {
    background: #424760;
    color: #fff;
}

.skin-1 #page-wrapper {
    background: #FAFAFA;
}

.ibox-title {
    min-height: 58px;
}


.custom-radio div {
    clear: both;
    overflow: hidden;
}

.custom-radio label {
    width: 100%;
    border-radius: 3px;
    /*border: 1px solid #D1D3D4;*/
    font-weight: normal;
}

.custom-radio input[type="radio"]:empty,
.custom-radio input[type="checkbox"]:empty {
    display: none;
}

.custom-radio input[type="radio"]:empty ~ label,
.custom-radio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.0em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-radio input[type="radio"]:empty ~ label:before,
.custom-radio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.0em;
    background: #D1D3D4;
    border-radius: 3px;
}

.custom-radio input[type="radio"]:hover:not(:checked) ~ label,
.custom-radio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.custom-radio input[type="radio"]:hover:not(:checked) ~ label:before,
.custom-radio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .6em;
    color: #C2C2C2;
}

.custom-radio input[type="radio"]:checked ~ label,
.custom-radio input[type="checkbox"]:checked ~ label {
    color: #777;
}

.custom-radio input[type="radio"]:checked ~ label:before,
.custom-radio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .6em;
    color: #333;
    background-color: #ccc;
}

.custom-radio input[type="radio"]:focus ~ label:before,
.custom-radio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.custom-radio-default input[type="radio"]:checked ~ label:before,
.custom-radio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.custom-radio-primary input[type="radio"]:checked ~ label:before,
.custom-radio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.custom-radio-success input[type="radio"]:checked ~ label:before,
.custom-radio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.custom-radio-danger input[type="radio"]:checked ~ label:before,
.custom-radio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.custom-radio-warning input[type="radio"]:checked ~ label:before,
.custom-radio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.custom-radio-info input[type="radio"]:checked ~ label:before,
.custom-radio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

/* Rupert */
.loading-screen-inspinia {
    z-index: 3000 !important;
}

.select2-selection {
    padding: 0;
}

@media (max-width: 468px) {
    /*#page-wrapper > */
    .wrapper-content {
        padding: 15px 0 !important;
    }
}

/*.form-control, .single-line {
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #666666;
}*/

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
    padding: 4px 12px 5px 2px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.3;

    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
    fill: #394066;
}
